---
import Point from '../components/icons/Point.astro';

interface Props {
    date: string,
    title: string,
    company: string,
    linkCompany:string
    description: string,
    devMilestones: string[],
    otherMilestones: string[],
    link?:string //va ? pq puede ser undefined
}

const {title, description, devMilestones, otherMilestones, date, company, linkCompany} = Astro.props;
---

<div
    class="w-3 h-3 bg-gray-200 rounded-full mt-2 -start-1.5 border border-white dot"
>
</div>
<time
    class="mb-1 text-md font-normal leading-none text-sky-200/90"
    >{date}</time
>
<h3 class="text-lg font-semibold text-yellow-200 mt-2">
    {title} 
    <a class="text-bold text-yellow-250" href={linkCompany}>
        {company}
    </a>
</h3>
<p set:html={description} class="mb-4 text-base font-normal text-gray-200 text-balance [&>b:text-cyan-200]" />

{
    <h3 class="my-5 text-sm font-normal leading-none text-sky-200/80">Hitos developer</h3>
    <ul class="List">      
    {
        devMilestones.map((devMilestone) => (
            <li class="flex mb-3">
                <Point class="mr-2 mt-1 size-4 min-w-max"/>
                <fragment set:html={devMilestone} class="text-base font-normal text-gray-200 text-balance"/>
            </li>
        ))
    }
    
    </ul>

    <h3 class="my-5 text-sm font-normal leading-none text-sky-200/80 ">Otros Hitos</h3>

    <ul class="List">      
    {
        otherMilestones.map((otherMilestone) => (
            <li class="flex mb-3">
                <Point class="mr-2 mt-1 size-4 min-w-max"/>
                <fragment set:html={otherMilestone} class="text-base font-normal text-gray-200 text-balance"/>
            </li>
        ))
    }
    
    </ul>
}


<style>
    .dot{
        position: relative;
        top: 0;
        left: -22px;
    }
</style>