---
import Next from './icons/technologies/Next.astro';
import Tailwind from './icons/technologies/Tailwind.astro';
import React from './icons/technologies/React.astro';
import Vue from './icons/technologies/Vue.astro';
import Mongo from './icons/technologies/Mongo.astro';
import Express from './icons/technologies/Express.astro';
import PostgreSQL from './icons/technologies/PostgreSQL.astro';
import Node from './icons/technologies/Node.astro';


const TAGS ={
    NEXT: {
        name: "Next.js",
        class: "bg-black text-white",
        icon: Next
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class:"bg-cyan-600 text-white",
        icon: Tailwind
    },
    REACT: {
        name: "React.js",
        class: "bg-teal-500	",
        icon: React
    },
    NODE: {
        name:"Node.js",
        class:"",
        icon: Node
    },
    EXPRESS: {
        name:"Express.js",
        class: "bg-black",
        icon: Express
    },
    VUE: {
        name:"Vue",
        class:"",
        icon: Vue
    },
    POSTGRESQL: {
        name:"PostgreSQL",
        class:"bg-blue-950",
        icon: PostgreSQL
    },
    MONGODB: {
        name:"MongoDB",
        class:"",
        icon: Mongo
    }
}

const PROJECTS = [
    {
        title: 'Dinamic Gym App',
        description: 'Aplicacion web para cliente propietario de gimnasio. Para la busqueda y creacion de los mismos a distintas personas. Validaciones de identidad, manejo de roles, creación y administracion de eventos. Listado de participantes. Compra de entradas, etc.',
        link: '#',
        github: '#',
        image:'../../public/projects/DynamicGym.webp',
        tags: [TAGS.EXPRESS, TAGS.TAILWIND,TAGS.REACT,TAGS.POSTGRESQL],
    },
    {
        title: 'EventsApp',
        description: 'Aplicacion web para eventos de distintas indoles. Para la busqueda y creacion de los mismos a distintas personas. Validaciones de identidad, manejo de roles, creación y administracion de eventos. Listado de participantes. Compra de entradas, etc.',
        link: '#',
        github: '#',
        image:'../../public/projects/EventsApp.webp',
        tags: [TAGS.EXPRESS, TAGS.TAILWIND,TAGS.REACT,TAGS.POSTGRESQL],
    },
    {
        title: 'IOT sensors',
        description: 'Aplicacion web para eventos de distintas indoles. Para la busqueda y creacion de los mismos a distintas personas. Validaciones de identidad, manejo de roles, creación y administracion de eventos. Listado de participantes. Compra de entradas, etc.',
        link: '#',
        github: '#',
        image:'../../public/projects/IOT.webp',
        tags: [TAGS.EXPRESS, TAGS.TAILWIND,TAGS.REACT,TAGS.POSTGRESQL],
    },
]
---

{
    PROJECTS.map(({image, title, description, tags}) => (
        <article class="p-5 mb-10 rounded-2xl">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-4 flex-row mb-4">
                {tags.map(tag => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>                            
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img
            class="rounded-2xl shadow-2xl shadow-white/10 aspect-video snap-center border-2 border-sky-300/50" 
            src={image} 
            alt={`Captura de pantalla del proyecto ${image}`}>
        </article>
    ))
}